body {
    background-color: #BFBFBF;

}
h1 {
    color: #10403B;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3.5px 2.6px 10.9px rgba(0, 0, 0, 0.5);

}

.dropbtn {

    background-color: transparent;
    border-color: transparent;
    
}

/*Barr de navegação*/
.sidebar {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 100px;
    left: 95%;
    overflow-x: hidden;
    padding-top: 20px;
}
  
/*Barr de navegação*/
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
  /*Barr de navegação*/
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}
  
  /*Barr de navegação*/
  .dropdown-content a:hover {background-color: #10403B; color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}

/*Mensagem de motivacao 1*/
#descri {

    margin-left: 20px;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}


/*Estrutura das imagens*/
.docs_base {

    display: flex;
    background-position: 100%;
    flex-wrap: wrap;

}

/*Imagens para realizar o download*/
#proce {
    height: 300px;
    border-radius: 8%;
    margin-left: 80px;
    margin-top: 140px;
    display: flex;
}



/*Imagens para realizar o download*/
#doccon {
    height: 300px;
    border-radius: 8%;
    margin-left: 80px;
    margin-top: 140px;
    display: inline-flex;
    display: flex;

}

/*Imagens para realizar o download*/
#instru {
    height: 300px;
    border-radius: 8%;
    margin-left: 80px;
    margin-top: 140px;
    display: inline-flex;
    display: flex;

}

/*Imagens para realizar o download*/
#manu {
    height: 300px;
    border-radius: 8%;
    margin-left: 80px;
    margin-top: 140px;
    display: inline-flex;
    display: flex;

}

/*Imagens para realizar o download*/
#forms {
    height: 300px;
    border-radius: 8%;
    margin-left: 80px;
    margin-top: 140px;
    display: inline-flex;
    display: flex;

}

#scrip {

    height: 300px;
    border-radius: 8%;
    margin-left: 80px;
    margin-top: 140px;
    display: inline-flex;
    display: flex;
    cursor: pointer;


}

.motivacao {

    margin-left: 20px;
    margin-top: 50px;
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;    
    display: flex;

}




