body {
    background-color: #BFBFBF;

}
h1 {
    color: #10403B;
    text-align: center;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 3.5px 2.6px 10.9px rgba(0, 0, 0, 0.5);

}

.dropbtn {

    background-color: transparent;
    border-color: transparent;
    
}

/*Barr de navegação*/
.sidebar {
    height: 110px;
    width: 90px;
    position: fixed;
    z-index: 1;
    top: 50px;
    left: 1%;
    overflow-x: hidden;
    padding-top: 20px;
    position: absolute;
}
  
/*Barr de navegação*/
  .dropdown-content {
    display: none;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: right;
}
  
  /*Barr de navegação*/
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: 'Courier New', Courier, monospace;
}
  
  /*Barr de navegação*/
  .dropdown-content a:hover {background-color: #10403B; color: white;}
  
  .dropdown:hover .dropdown-content {display: block;}

/*Mensagem de motivacao 1*/
#descri {

    margin-left: 20px;
    margin-top: 130px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}


/*Estrutura das imagens*/
.docs_base {

    display: flex;
    overflow: none;

}


.docs_ {

    height: 250px;
    margin-left: 20px;
    margin-top: 50px;
    display: flex;
}

#ola {
    border-radius: 9px;
}


.motivacao {

    margin-left: 20px;
    margin-top: 50px;
    font-size: 14pt;
    font-family: 'Courier New', Courier, monospace;    
    display: flex;

}



